<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <div class="nav-bar">
        <h1>Dashboard</h1>
        <div>
            <a href="{{ url_for('dashboard') }}">Dashboard</a>
            <a href="{{ url_for('statistics') }}">Statistics</a>
        </div>
    </div>

    <div class="alert" id="new-entry-alert"></div>

    <div class="table-container">
        <form id="new-entry-form">
            <table id="new-item">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Type</th>
                        <th>Description</th>
                        <th>Alex</th>
                        <th>Greg</th>
                        <th>Luke</th>
                        <th>Zach</th>
                        <th>Submit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input type="text" id="title" name="title" required>
                        </td>
                        <td>
                            <select id="type" name="type" required>
                                <option value="TV">TV</option>
                                <option value="Movie">Movie</option>
                            </select>
                        </td>
                        <td>
                            <textarea id="description" name="description" rows="3"></textarea>
                        </td>
                        {% for person in ["alex", "greg", "luke", "zach"] %}
                        <td>
                            <input type="number" id="rating_{{ person }}" name="rating_{{ person }}" min="1" max="10">
                        </td>
                        {% endfor %}
                        <td>
                            <button type="submit">Add Entry</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div class="table-container">
        <table id="items-table">
            <thead>
                <tr>
                    <th class="sortable" data-sort="name">Title</th>
                   {% for person in ["alex", "greg", "luke", "zach"] %}
                    <th class="sortable" data-sort="rating_{{ person }}">{{ person.capitalize() }}</th>
                    {% endfor %}
                    <th class="sortable" data-sort="rating_average">Average</th>
                    <th class="sortable" data-sort="weighted_rating">Weighted Rating</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr class="item-row" data-item-id="{{ item.id }}">
                    <td><span class="item-name">{{ item.name }}</span></td>
                    {% for person in ["alex", "greg", "luke", "zach"] %}
                    <td><input type="number" value="{{ item['rating_' + person] }}" data-item-id="{{ item.id }}" data-rating-type="{{ person }}" class="rating-input"></td>
                    {% endfor %}
                    <td class="average-rating">{{ item.rating_average if item.rating_average is not none else 0.0 }}</td>
                    <td class="weighted-rating">{{ item.weighted_rating }}</td>
                </tr>
                <tr class="item-details" id="details-{{ item.id }}">
                    <td colspan="6"></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="alert" id="alert"></div>
    <script>
        var updateRatingUrl = "{{url_for('update_rating')}}";
        var addNewEntryUrl = "{{url_for('add_new_entry')}}";
        var getItemsUrl = "{{url_for('get_items')}}";
        var updateDescriptionUrl = "{{url_for('update_description')}}";
        // Add other URLs as needed
    </script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
